In [40]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt # plotting
from matplotlib import rcParams

%matplotlib inline
# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/income2022f/train_final.csv
/kaggle/input/income2022f/test_final.csv

### ****Import Training Dataset****

In [41]:
df_tr = pd.read_csv('/kaggle/input/income2022f//train_final.csv')
df_tr[25:30]

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income>50K
25,35,Federal-gov,22494,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,50,United-States,1
26,19,?,141418,Some-college,10,Never-married,?,Own-child,White,Male,0,0,15,United-States,0
27,56,Local-gov,273084,Masters,14,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,40,United-States,1
28,68,Self-emp-not-inc,122094,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,15,United-States,0
29,38,Private,203717,Bachelors,13,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,60,United-States,0

In [42]:
df_tr = df_tr.replace('?',np.nan )

### ****Import Test Dataset****

In [43]:
df_ts = pd.read_csv('/kaggle/input/income2022f/test_final.csv')
df_ts.head(5)

,ID,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country
0,1,33,Self-emp-not-inc,222162,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States
1,2,68,?,29240,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,0,12,United-States
2,3,34,Private,103596,HS-grad,9,Married-civ-spouse,Handlers-cleaners,Husband,White,Male,0,0,40,United-States
3,4,57,Private,103403,5th-6th,3,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,40,United-States
4,5,48,Private,152915,Some-college,10,Never-married,Adm-clerical,Not-in-family,White,Female,0,0,40,United-States

In [44]:
df_ts= df_ts.replace('?',np.nan )

In [45]:
df_ts.head(10)

,ID,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country
0,1,33,Self-emp-not-inc,222162,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States
1,2,68,NaN,29240,HS-grad,9,Widowed,NaN,Not-in-family,White,Female,0,0,12,United-States
2,3,34,Private,103596,HS-grad,9,Married-civ-spouse,Handlers-cleaners,Husband,White,Male,0,0,40,United-States
3,4,57,Private,103403,5th-6th,3,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,40,United-States
4,5,48,Private,152915,Some-college,10,Never-married,Adm-clerical,Not-in-family,White,Female,0,0,40,United-States
5,6,30,Self-emp-not-inc,173792,Some-college,10,Separated,Prof-specialty,Unmarried,Black,Female,0,0,40,United-States
6,7,25,State-gov,152035,Assoc-acdm,12,Never-married,Adm-clerical,Own-child,White,Female,0,0,40,United-States
7,8,54,Private,181246,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,0,0,40,United-States
8,9,31,Private,291052,Some-college,10,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,2051,40,United-States
9,10,63,Self-emp-not-inc,344128,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States

In [46]:
## Check which columns has unknown values
for key, val in df_tr.items():
    if '?' in val.unique():
        print(f'In train_df:{key} has unknown value')
for key, val in df_ts.items():
    if '?' in val.unique():
        print(f'In test_df:{key} has unknown value')

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  This is separate from the ipykernel package so we can avoid doing imports until
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:6: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison

### ****Shape of Dataset****

In [47]:
print('Shape of training data:', df_tr.shape)
print('Shape of test data:', df_ts.shape)

Shape of training data: (25000, 15)
Shape of test data: (23842, 15)

In [48]:
# Check for Null Data
print('Check for null data in Training dataset:')
df_tr.isnull().sum()

Check for null data in Training dataset:

age                  0
workclass         1437
fnlwgt               0
education            0
education.num        0
marital.status       0
occupation        1442
relationship         0
race                 0
sex                  0
capital.gain         0
capital.loss         0
hours.per.week       0
native.country     427
income>50K           0
dtype: int64

In [49]:
# Check for Null Data
print('Check for null data in Test dataset:')
df_ts.isnull().sum()

Check for null data in Test dataset:

ID                   0
age                  0
workclass         1362
fnlwgt               0
education            0
education.num        0
marital.status       0
occupation        1367
relationship         0
race                 0
sex                  0
capital.gain         0
capital.loss         0
hours.per.week       0
native.country     430
dtype: int64

In [50]:
df_tr.rename(columns={'income>50K':'income','native.country':'native' },inplace = True)
df_ts.rename(columns={'native.country':'native' },inplace = True)

In [51]:
df_tr.info()
df_ts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000 entries, 0 to 24999
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             25000 non-null  int64
 1   workclass       23563 non-null  object
 2   fnlwgt          25000 non-null  int64
 3   education       25000 non-null  object
 4   education.num   25000 non-null  int64
 5   marital.status  25000 non-null  object
 6   occupation      23558 non-null  object
 7   relationship    25000 non-null  object
 8   race            25000 non-null  object
 9   sex             25000 non-null  object
 10  capital.gain    25000 non-null  int64
 11  capital.loss    25000 non-null  int64
 12  hours.per.week  25000 non-null  int64
 13  native          24573 non-null  object
 14  income          25000 non-null  int64
dtypes: int64(7), object(8)
memory usage: 2.9+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23842 entries, 0 to 23841
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ID              23842 non-null  int64
 1   age             23842 non-null  int64
 2   workclass       22480 non-null  object
 3   fnlwgt          23842 non-null  int64
 4   education       23842 non-null  object
 5   education.num   23842 non-null  int64
 6   marital.status  23842 non-null  object
 7   occupation      22475 non-null  object
 8   relationship    23842 non-null  object
 9   race            23842 non-null  object
 10  sex             23842 non-null  object
 11  capital.gain    23842 non-null  int64
 12  capital.loss    23842 non-null  int64
 13  hours.per.week  23842 non-null  int64
 14  native          23412 non-null  object
dtypes: int64(7), object(8)
memory usage: 2.7+ MB

In [52]:
#df_tr.dtypes

In [53]:
# Identify Numeric features
numeric_features = ['age','fnlwgt','education.num','capital.gain','capital.loss',
                    'hours.per.week','income']

# Identify Categorical features
categ_features = ['workclass','education','marital.status',
                'occupation', 'relationship', 'race', 'sex', 'native']

In [54]:
# rcParams['figure.figsize'] = 7,7
# plt.matshow(df_tr[numeric_features].corr())
# plt.colorbar()
# plt.xticks(np.arange(len(df_tr[numeric_features].corr().columns)), 
#            df_tr[numeric_features].corr().columns.values, rotation = 45) 
# plt.yticks(np.arange(len(df_tr[numeric_features].corr().columns)), 
#            df_tr[numeric_features].corr().columns.values) 
# for (i, j), corr in np.ndenumerate(df_tr[numeric_features].corr()):
#     plt.text(j, i, '{:0.1f}'.format(corr), ha='center', va='center', color='white', fontsize=14)

### Data Preprocess

In [55]:
## Libraries
from sklearn import preprocessing
from sklearn.preprocessing import LabelBinarizer, LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import KFold, cross_val_score, train_test_split
from sklearn import model_selection
from sklearn.metrics import accuracy_score
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import make_pipeline, Pipeline

In [56]:
#Since it has 0 correlation, it can be dropped

df_tr.drop(['fnlwgt'], axis = 1, inplace = True)
df_ts.drop(['fnlwgt'], axis = 1, inplace = True)
print('identify columns:',df_tr.columns)

identify columns: Index(['age', 'workclass', 'education', 'education.num', 'marital.status',
       'occupation', 'relationship', 'race', 'sex', 'capital.gain',
       'capital.loss', 'hours.per.week', 'native', 'income'],
      dtype='object')

In [57]:
#label encoder

#X_val = X_val.apply(LabelEncoder().fit_transform)
#X_train = X_train.apply(LabelEncoder().fit_transform)
#X_test = df_ts.apply(LabelEncoder().fit_transform)

In [58]:
std_transformers = {}
print(f'Transformed columns in training dataset:............')
for col_name in ['age','education.num','capital.gain','capital.loss','hours.per.week']:
    std_transformers[col_name] = preprocessing.StandardScaler()
    
    df_tr[col_name] = std_transformers[col_name].fit_transform(np.array(df_tr[col_name])[:,np.newaxis])
    df_ts[col_name]  = std_transformers[col_name].transform(np.array(df_ts[col_name])[:,np.newaxis])
    
    print(col_name,' shape:',df_tr[col_name].shape)

Transformed columns in training dataset:............
age  shape: (25000,)
education.num  shape: (25000,)
capital.gain  shape: (25000,)
capital.loss  shape: (25000,)
hours.per.week  shape: (25000,)

In [59]:
ord_transformers = {}
for col_name in ['workclass', 'education',  'marital.status', 'occupation', 'relationship', 'race', 'sex', 'native']:
    ord_transformers[col_name] = preprocessing.OrdinalEncoder(handle_unknown='use_encoded_value', unknown_value=np.nan)
    df_tr[col_name] = ord_transformers[col_name].fit_transform(np.array(df_tr[col_name])[:,np.newaxis])
    df_ts[col_name]  = ord_transformers[col_name].transform(np.array(df_ts[col_name])[:,np.newaxis])

In [60]:
df_tr[25:30]

,age,workclass,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native,income
25,-0.269221,0.0,9.0,1.135501,0.0,9.0,1.0,4.0,0.0,-0.147005,-0.217501,0.763076,37.0,1
26,-1.435476,NaN,15.0,-0.028845,4.0,NaN,3.0,4.0,1.0,-0.147005,-0.217501,-2.056449,37.0,0
27,1.261488,1.0,12.0,1.523616,2.0,3.0,0.0,2.0,1.0,-0.147005,-0.217501,-0.042502,37.0,1
28,2.136179,5.0,11.0,-0.416960,2.0,2.0,0.0,4.0,1.0,-0.147005,-0.217501,-2.056449,37.0,0
29,-0.050548,3.0,9.0,1.135501,2.0,4.0,0.0,4.0,1.0,-0.147005,-0.217501,1.568655,37.0,0

In [61]:
# df_ts_id[0:5]

In [62]:
## Split the data into feats and labels
#train, valdiation and test dataset split
X,y = df_tr.drop(['income'],axis =1), df_tr.income
print('identify columns before dropping ID:',df_ts.columns)
X_test = df_ts.drop(columns ='ID')
print('identify columns after dropping ID:',X_test.columns)

#X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=44)
#y_train = LabelBinarizer().fit_transform(y_train)

# print('training dataset:',X_train.shape)
# print('training dataset:',type(y_train))
# print('validation dataset:',X_val.shape)
# print('test dataset:',df_ts.shape)

identify columns before dropping ID: Index(['ID', 'age', 'workclass', 'education', 'education.num',
       'marital.status', 'occupation', 'relationship', 'race', 'sex',
       'capital.gain', 'capital.loss', 'hours.per.week', 'native'],
      dtype='object')
identify columns after dropping ID: Index(['age', 'workclass', 'education', 'education.num', 'marital.status',
       'occupation', 'relationship', 'race', 'sex', 'capital.gain',
       'capital.loss', 'hours.per.week', 'native'],
      dtype='object')

In [63]:
# Multivariate imputer that estimates each feature
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
imp_mean  = IterativeImputer(max_iter=10, random_state=0)
X_train = pd.DataFrame(imp_mean.fit_transform(X), columns=X.columns)
X_test = pd.DataFrame(imp_mean.transform(X_test), columns=X_test.columns)

In [64]:
X_tr_imp, X_ts_imp = {}, {}
for col in X_train.columns:
    X_tr_imp[col] = X_train[col]
X_tr_imp['income'] = np.array(df_tr.income)

X_ts_imp['ID'] = np.array(df_ts.ID)
for col in X_test.columns:
    X_ts_imp[col] = X_test[col]

X_tr_imp = pd.DataFrame(X_tr_imp)
X_ts_imp = pd.DataFrame(X_ts_imp)

In [65]:
for col_name in ['workclass', 'occupation', 'native']:
  
    X_tr_imp[col_name] = round(X_tr_imp[col_name])
 
    X_ts_imp[col_name]  = round(X_ts_imp[col_name])

In [66]:
## Make a deep copy
X_tr_inv = X_tr_imp.copy()
X_ts_inv  = X_ts_imp.copy()

In [67]:
## Reverse the ordered mapping
for col_name, transformer in ord_transformers.items():
    X_tr_inv[col_name] = transformer.inverse_transform(np.array(X_tr_inv[col_name])[:,np.newaxis])
    X_ts_inv[col_name]  = transformer.inverse_transform(np.array(X_ts_inv[col_name])[:,np.newaxis])

In [68]:
## Split the data into feats and labels
X_tr_inv_feats, X_tr_inv_labels = X_tr_inv.drop(columns='income'), X_tr_inv.income
X_ts_inv_feats             = X_ts_inv

In [69]:
## Take care of non_numeric features
categories = [
    ## workclass
    ['Private', 
     'Self-emp-not-inc', 
     'Self-emp-inc', 
     'Federal-gov', 
     'Local-gov', 
     'State-gov', 
     'Without-pay', 
     'Never-worked'],
    ## education
    ['Bachelors', 
     'Some-college', 
     '11th', 
     'HS-grad', 
     'Prof-school', 
     'Assoc-acdm', 
     'Assoc-voc', 
     '9th', 
     '7th-8th', 
     '12th', 
     'Masters', 
     '1st-4th', 
     '10th', 
     'Doctorate', 
     '5th-6th', 
     'Preschool'],
    ## marital.status
    ['Married-civ-spouse', 
     'Divorced', 
     'Never-married', 
     'Separated', 
     'Widowed', 
     'Married-spouse-absent', 
     'Married-AF-spouse'],
    # occupation
    ['Tech-support', 
     'Craft-repair', 
     'Other-service', 
     'Sales', 
     'Exec-managerial', 
     'Prof-specialty', 
     'Handlers-cleaners', 
     'Machine-op-inspct', 
     'Adm-clerical', 
     'Farming-fishing', 
     'Transport-moving', 
     'Priv-house-serv', 
     'Protective-serv', 
     'Armed-Forces'],
    # relationship
    ["Wife", 
     "Own-child", 
     "Husband", 
     "Not-in-family", 
     "Other-relative", 
     "Unmarried"],
    # race
    ["White", 
     "Asian-Pac-Islander", 
     "Amer-Indian-Eskimo", 
     "Other", 
     "Black"],
    # sex
    ["Female", 
     "Male"],
    # native
    ["United-States", 
     "Cambodia", 
     "England", 
     "Puerto-Rico", 
     "Canada", 
     "Germany", 
     "Outlying-US(Guam-USVI-etc)",
     "India", 
     "Japan", 
     "Greece", 
     "South", 
     "China", 
     "Cuba", 
     "Iran", 
     "Honduras", 
     "Philippines", 
     "Italy",
     "Poland", 
     "Jamaica", 
     "Vietnam", 
     "Mexico", 
     "Portugal", 
     "Ireland", 
     "France", 
     "Dominican-Republic", 
     "Laos",
     "Ecuador", 
     "Taiwan", 
     "Haiti", 
     "Columbia", 
     "Hungary", 
     "Guatemala", 
     "Nicaragua", 
     "Scotland", 
     "Thailand",
     "Yugoslavia", 
     "El-Salvador", 
     "Trinadad&Tobago", 
     "Peru", 
     "Hong", 
     "Holand-Netherlands"]
]

In [70]:
col_transforms = [('cat_trans', preprocessing.OneHotEncoder(categories=categories),  ['workclass', 
                                                                 'education', 
                                                                 'marital.status', 
                                                                 'occupation', 
                                                                 'relationship', 
                                                                 'race', 
                                                                 'sex', 
                                                                 'native'])]

In [71]:

## Compile the transformation
transformer = ColumnTransformer(transformers=col_transforms)

In [84]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.ensemble import GradientBoostingClassifier
from catboost import CatBoostClassifier
import xgboost as xgb

In [87]:
models = []

results = []

models.append(('DT',DecisionTreeClassifier()))
models.append(('SVM', SVC()))
models.append(('LR', LogisticRegression(solver='lbfgs', max_iter=1000)))
models.append(('RF', RandomForestClassifier(min_samples_split= 30, random_state=44)))
models.append(('KNN',KNeighborsClassifier()))
models.append(('XGB',xgb.XGBClassifier(objective="binary:logistic", random_state=48)))
models.append(('AB', AdaBoostClassifier()))
models.append(('EB', ExtraTreesClassifier(n_estimators=20, max_depth=None,min_samples_split=2, random_state=42)))
models.append(('GB',  GradientBoostingClassifier(n_estimators=100, learning_rate=1.0, max_depth=1, random_state=40)))
models.append(('CB',CatBoostClassifier(iterations=5,     learning_rate=0.1, random_state=44)))
models.append(('MLP',MLPClassifier(hidden_layer_sizes=(200,), activation='relu', solver="adam", max_iter=200, random_state =4)))

In [88]:
for name, model in models:
   
    # print(names)
    pipe = Pipeline(steps=[('feat_trans', transformer), ('model',model)])
    pipe.fit(X_tr_inv_feats, X_tr_inv_labels)
    score = pipe.score(X_tr_inv_feats, X_tr_inv_labels)
    
    print('score',f'of the model:{name}........',score )

score of the model:DT........ 0.86712
score of the model:SVM........ 0.83628
score of the model:LR........ 0.8336
score of the model:RF........ 0.8484
score of the model:KNN........ 0.83404
score of the model:XGB........ 0.84408
score of the model:AB........ 0.83248
score of the model:EB........ 0.86712
score of the model:GB........ 0.83408
0:	learn: 0.6213360	total: 6.08ms	remaining: 24.3ms
1:	learn: 0.5678870	total: 12.2ms	remaining: 18.3ms
2:	learn: 0.5263748	total: 18.5ms	remaining: 12.3ms
3:	learn: 0.4950321	total: 24.9ms	remaining: 6.23ms
4:	learn: 0.4710718	total: 31.1ms	remaining: 0us
score of the model:CB........ 0.82396

/opt/conda/lib/python3.7/site-packages/sklearn/neural_network/_multilayer_perceptron.py:696: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  ConvergenceWarning,

score of the model:MLP........ 0.8644

In [89]:
model = MLPClassifier(hidden_layer_sizes=(200,), activation='relu', solver="adam", max_iter=200)

# define pipeline
pipeline_MLP = Pipeline(steps=[('feat_trans', transformer), ('model',model)]) 
pipeline_MLP.fit(X_tr_inv_feats, X_tr_inv_labels)
# Make soft prediction
pred_mlp = pipeline_MLP.predict_proba(X_ts_inv_feats)
print(f'Soft prediction: {pred_mlp}')

Soft prediction: [[0.74333774 0.25666226]
 [0.9811832  0.0188168 ]
 [0.80357449 0.19642551]
 ...
 [0.30820883 0.69179117]
 [0.95575287 0.04424713]
 [0.85408963 0.14591037]]

/opt/conda/lib/python3.7/site-packages/sklearn/neural_network/_multilayer_perceptron.py:699: UserWarning: Training interrupted by user.
  warnings.warn("Training interrupted by user.")

In [ ]:
model = DecisionTreeClassifier()

# define pipeline
pipeline_DT = Pipeline(steps=[('feat_trans', transformer), ('model',model)]) 
pipeline_DT.fit(X_tr_inv_feats, X_tr_inv_labels)
# Make soft prediction
pred_DT = pipeline_DT.predict_proba(X_ts_inv_feats)
print(f'Soft prediction: {pred_DT}')

In [ ]:
model = ExtraTreesClassifier(n_estimators=20, max_depth=None,min_samples_split=2, random_state=42)

# define pipeline
pipeline_ET = Pipeline(steps=[('feat_trans', transformer), ('model',model)]) 
pipeline_ET.fit(X_tr_inv_feats, X_tr_inv_labels)
# Make soft prediction
pred_ET = pipeline_ET.predict_proba(X_ts_inv_feats)
print(f'Soft prediction: {pred_ET}')

In [ ]:
f = open("submission.csv", "a")
f.write("ID,Prediction\n")
for i in range(len(pred_ET)):
    f.write(str(i+1))
    f.write(",")
    f.write(str(pred_ET[i][1]))
    f.write("\n")
f.close()